navbar ui li a {
  position: relative; }
  navbar ui li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #8cdb0d;
    height: 1px; }
  navbar ui li a:hover {
    color: #1b9825; }
  navbar ui li a:hover:after {
    width: 90%; }
  navbar ui li a nav ul li a,
  navbar ui li a nav ul li a:after,
  navbar ui li a nav ul li a:before {
    transition: all .5s; }

.container {
  max-width: 1100px; }

header {
  background-image: url("../assets/hombrefuego.jpg");
  background-size: cover;
  position: relative;
  height: 650px; }

.header2 {
  background-image: url("../assets/panoramica.jpg");
  height: 500px; }

.title {
  color: #0a6a35;
  font-size: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5%; }

.title2 {
  color: white;
  font-size: 65px;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  margin-left: 35%; }

.btn {
  background-color: #135f27;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px; }

.logo {
  width: 120px; }

#galeria .col-lg-4, #galeria img:hover .col-lg-4 {
  margin: 0;
  padding: 10px; }

#galeria img, #galeria img:hover img {
  width: 100%;
  height: 250px; }

#row-frace {
  background-image: url("../assets/buhoojos.png");
  background-size: cover;
  background-position: center;
  padding-top: 220px !important;
  padding-bottom: 220px !important;
  transition: all 1s; }
  #row-frace:hover {
    transform: scale(1.1); }

#row-nosotros {
  background-image: url("../assets/imgfondo.jpg");
  background-size: cover;
  padding-top: 140px !important;
  padding-bottom: 140px !important; }

#row-nosotros img {
  border-radius: 10%;
  width: 300px;
  height: auto; }

#row-contacto {
  background-image: url("../assets/buhonieve.jpg");
  background-size: cover;
  padding-top: 140px !important;
  padding-bottom: 140px !important; }

div.div2 {
  background-image: url("../assets/fondoenredadera2.jpg"); }

@media screen and (max-width: 992px) {
  .navbar-nav {
    background-color: #1b9825;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 20px;
    text-align: center; } }

nav {
  z-index: 100; }

footer {
  background-color: black;
  padding-top: 100px !important;
  padding-bottom: 100px !important; }
  footer a {
    text-decoration: none;
    color: #8cdb0d; }

#galeria img:hover {
  transform: scale(1.1); }
