@import "./layout/colors";

@media screen and (max-width: 992px){
    
}


nav{
    z-index:100;

    &_navbar-nav{
        background-color: $green1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;   

    }
}